<div class="topnav" [class.responsive]="isMenuOpen" id="myTopnav">
    <a routerLink="/" class="active">
      <img src="assets/images/elekdesign_logo.jpg" alt="Elek Design Logo">
    </a>
    <a routerLink="/" fragment="Élettér" class="options">Élettér</a>
    <a routerLink="/" fragment="Üzlettér" class="options">Üzlettér</a>
    <a routerLink="/3d-falboritas" fragment="3d-falboritás" class="options">3D falborítás</a>
    <a routerLink="/ives-butorok" fragment="ives-butorok" class="options">Íves bútorok</a>
    <a routerLink="/kapcsolat" class="options">Kapcsolat</a>
    <a href="javascript:void(0);" class="icon" (click)="toggleMenu()">
      <img class="hambi" src="assets/images/hamburger.png" alt="Menu">
    </a>
</div>