<div class="footer-size">
    <div class="footer">
      <span><a routerLink="/kapcsolat">Kapcsolat</a></span>
      <ul>
        <li style="text-decoration: underline">Elérhetőségek:</li>
        <li>Tel.: +3620/924-3557</li>
        <li>E-mail: info&#64;elekdesign.hu</li>
        <li>Budapest I. Batthyány u. 26.</li>
        <li>Weblap: <span id="name">Elek Botond</span></li>
        <li><br></li>
        <li>Copyright © 2025 | ELEK DESIGN Kft.| Minden jog fenntartva.</li>
      </ul>
    </div>
  </div>