<div class="main">
  <app-carousel [slides]="(topCarouselSlides$ | async) ?? []" [autoPlay]="true" [showManualControls]="false"
    [hasTextOverlay]="true"></app-carousel>
  <hr>

  <div class="part">
    <h1 class="sub-head" id="Élettér">Élettér</h1>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 menu-list">
        <ul>
          <li *ngFor="let category of eletterCategories">
            <a href="#" (click)="$event.preventDefault(); onMenuClick('eletter', category.id)">{{ category.name }} »</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 can-be-paged">
        <app-carousel #eletterCarousel [slides]="(eletterSlides$ | async) ?? []" [showManualControls]="true"
          [hasTextOverlay]="false" (slideChanged)="onSlideChanged($event)"></app-carousel>
      </div>
    </div>
  </div>

  <hr>

  <div class="part">
    <h1 class="sub-head" id="Üzlettér">Üzlettér</h1>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 menu-list second">
        <ul>
          <li *ngFor="let category of uzletterCategories">
            <a href="#" (click)="$event.preventDefault(); onMenuClick('uzletter', category.id)">{{ category.name }}
              »</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-10 can-be-paged">
        <app-carousel #uzletterCarousel [slides]="(uzletterSlides$ | async) ?? []" [showManualControls]="true"
          [hasTextOverlay]="false" (slideChanged)="onSlideChanged($event)"></app-carousel>
      </div>
    </div>
  </div>

</div>